<div class="container">
    <p>Login : @ViewBag.user.Login</p>
    <p>Pass : @ViewBag.user.Pass</p>
    <a asp-controller="User" asp-action="LogOut" class="btn btn-danger">Log Out</a>
    <a asp-controller="Todo" asp-action="Show" class="btn btn-primary">Todo liste</a>
</div>